.card-container {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #041955;
  width: 100%;
  padding: 8px 16px;
  border-radius: 40px;

  &-item {
    width: 76%;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &-icon {
    width: 16px;
    height: 16px;
  }
}

.action-container {
  display: flex;
}

.unchecked {
  height: 16px;
  width: 16px;
  color: #ffb86c;
}
.checked {
  height: 16px;
  width: 16px;
  color: #50fa7b;
}

.description-checked {
  text-decoration: line-through;
}

.description-unchecked {
  text-decoration: none;
}
