.button-icon {
  color: white;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  position: relative;

  &:hover {
    background-color: rgba(#000000, 0.2);
  }

  &:active {
    background-color: rgba(#000000, 0.4);
  }
}
